<div class="fixed flex justify-center items-center w-full z-50 top-20">
    <div class="flex p-4 justify-center items-center text-lg font-medium w-96 rounded-md h-18 border border-red-600 bg-red-50 text-red-600">
        <p>Please generate the access token first and then try to join a meeting.</p>
    </div>
    <script type="text/javascript">
        setTimeout(() => {
            window.location.href = '/';
        }, 3000)
    </script>
</div>